


body
{
	padding-top: 56px;
}

.navbar
{
	box-shadow: 2px 3px 40px 26px rgba(0, 0, 0, .55);
}

.jumbotron
{
	background: url(images/groceries.jpg);
	background-size: auto;
	padding: 52px;
}

.btn-secondary
{
	background-color: orange;
	border: orange;
}

.btn-secondary:hover
{
	background-color: white;
	border: thin solid orange;
	color: orange;
}

.btn-secondary:active
{
	background-color: white;
	border: thin solid orange;
	color: orange;
}

#about
{
	background: url(images/groceries_8.jpg);
	/* filter: blur(3px); */
	box-shadow: inset 0 0 100px black;
	color: black;
	background-size: cover;
	
}






#footer-text
{
	
}